<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit profile</title>
    <title th:text="Edit">Edit user profile</title>
</head>
<body>

<section>
    <h1>Edit your profile</h1>
</section>

<section>
    <form th:action="@{/profile}" th:object="${editUserProfileCommand}" th:method="post">
<!--        <div>-->
<!--            <label>Nick:-->
<!--                <input th:field="*{nickName}" type="text"/>-->
<!--            </label>-->
<!--        </div>-->
<!--        <div>-->
<!--            <label>Breeding period:-->
<!--                <input th:field="*{breedingPeriod}" type="date"/>-->
<!--                <div th:if="${#fields.hasErrors('breedingPeriod')}" th:text="${#fields.errors('breedingPeriod')}"></div>-->
<!--            </label>-->
<!--        </div>-->
<!--        <div>-->
<!--            <label>Localisation:-->
<!--                <input th:field="*{livingLocalisation}" type="text"/>-->
<!--            </label>-->
<!--        </div>-->
<!--        <div>-->
<!--            <button type="submit">Save</button>-->
<!--        </div>-->
    </form>
</section>

</body>
</html>