<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
</head>
<body>

    <div>
        <h1>---ARACHNOHOBBY---</h1>
        <h2>From phobias to hobbies</h2>
    </div>
    <section>
        <h2>Arachno-Notes</h2>
        <button><a th:href="@{/login}" style="text-decoration:none;">Sign in</a></button>
        <button><a th:href="@{/register}" style="text-decoration:none;">Sign up</a></button>
    </section>
    <section>
        <h2>Arachno-Encyklopedy</h2>
        <button>Spiders list</button>
        <input type="text" placeholder="search"/>
    </section>
    <section>
        <h2>Arahno-Blog</h2>
        <button>
            <a href="https://spidersonline.pl/en/blog/3_pierwszy-pajak-czyli-co-dla-kogo-i-dlaczego.html">
                Blog list
            </a>
        </button>
    </section>
    <div>

    </div>
</body>
</html>